{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Mijn account</h1>

    {{ form_start(profileForm) }}
        {{ form_row(profileForm.name) }}
        {{ form_row(profileForm.username) }}
        {{ form_row(profileForm.plainPassword) }}

        <button class="button">Wijzigen</button>
    {{ form_end(profileForm) }}
{% endblock %}
