{% extends 'base.html.twig' %}

{% block title %}Diners{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Thema</th>
                <th>Locatie</th>
                <th>Dag</th>
            </tr>
        </thead>
        <tbody>
        {% for dinner in dinners %}
            <tr{% if not dinner.day %} style="font-style: italic"{% endif %}>
                <td>
                    <a href="{{ path('dinner_show', {'id': dinner.id}) }}">
                        {{ dinner.theme ? dinner.theme : '<i>onbekend</i>'}}
                    </a>
                </td>
                <td>{{ dinner.location ? dinner.location : '<i>onbekend</i>' }}</td>
                <td>{{ dinner.day ? dinner.day|date('Y-m-d') : '<i>onbekend</i>' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Geen diners bekend</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button" href="{{ path('dinner_new') }}">Nieuw diner aanmaken</a>
{% endblock %}
