<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('foundation.min.css') }}">
    <link rel="stylesheet" href="{{ asset('theme.css') }}">
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <meta name="theme-color" content="#722c2c"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="grid-container">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li style="font-weight: bold;"><a href="{{ path('index') }}">⭐ 1 ster</a></li>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('dinner_index') }}">Diners</a></li>
                    <li><a href="{{ path('app_profile') }}">Mijn account</a></li>
                    <li><a href="{{ path('app_logout') }}">Uitloggen</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}">Inloggen</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <br/>

    {% block body %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
