<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('foundation.min.css') }}">
    <link rel="stylesheet" href="{{ asset('theme.css') }}">
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link rel="manifest" href="{{ asset('manifest.json') }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">

    <meta name="theme-color" content="#722c2c"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>1 ster - {% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="grid-container">
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li style="font-weight: bold;"><a href="{{ path('index') }}">⭐</a></li>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('dinner_index') }}">Diners</a></li>
                    <li><a href="{{ path('app_profile') }}">Mijn account</a></li>
                    <li><a href="{{ path('app_logout') }}">Uitloggen</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}">Inloggen</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <br/>

    {% block body %}{% endblock %}
</div>

{% block javascripts %}{% endblock %}
</body>
</html>
